<div id="book_author_<%= author.id %>">
  <%= author.name %>
  
  <% form_tag(book_authorship_path(:book_id => @book, :id => author), {:method => "delete"}) do |f| %>
    <%= submit_tag "Delete" %>
  <% end %>
</div>
