<ul id="book_list">  
  <%= render :partial => @books %>
</ul>

<%= link_to_function "Add new book", "$('book_form').toggle()" %>

<div id="book_form" style="display:none">
  <%= render :partial => "form", :locals => {:submit_text => "Create"} %>
</div>